.svn
*.o
src/toks
Makefile
man/Makefile
man/uncrustify.1
src/Makefile
src/stamp-h1
src/uncrustify_version.h
*.exe
*~
config.log
config.status
*.vtg
*.vpwh*
tests/results
.waf*
.lock*
build
waf*
win32/Release
win32/Debug
*.obj
autom4te.cache
build
xcuserdata
Debug
.*
toks-*-win32
src/config.h
